<div class="preuve-head">
  <h1 class="preuve-head__title">
    Preuves d'apprentissage
  </h1>
  <mat-form-field class="preuve-head__tag">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of searchedTags" removable="true" (remove)="removeTag(tag)">
        {{tag.name}}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input matInput placeholder="Recherche par tag..."
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addTag($event)" />
      <button mat-button color="primary" matSuffix mat-icon-button aria-label="Search" (click)="onClickSearch()">
        <mat-icon>search</mat-icon>
      </button>
    </mat-chip-list>
  </mat-form-field>
  <div style="text-align:right">
    <mat-slide-toggle color="primary" [checked]="preuvesForme" (change)="toggleForme($event)">Toggle forme</mat-slide-toggle>
  </div>
</div>

<div class="preuve-content">
  <mat-grid-list cols="3" gutterSize="1rem" *ngIf="!preuvesForme">
    <mat-grid-tile *ngFor="let preuve of preuves">
      <mat-card class="preuve-content__card">
        <mat-card-header>
          <mat-card-title>{{preuve.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p style="text-align:center">
            <img mat-card-md-image src="{{preuve.path}}" alt="file" *ngIf="isImage(preuve.path); else notImageBlock">
            <ng-template #notImageBlock>
              <img mat-card-md-image src="assets/images/pdf.jpg" alt="{{preuve.name}}" *ngIf="preuve.name.endsWith('.pdf'); else elseBlock">
              <ng-template #elseBlock>
                <img mat-card-md-image src="assets/images/file.png" alt="{{preuve.name}}">
              </ng-template>
            </ng-template>
          </p>
          <p>{{preuve.description}}</p>
          <mat-chip-list>
            <mat-chip class="list__chip" *ngFor="let tag of preuve.tags">{{tag}}</mat-chip>
          </mat-chip-list>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-list class="preuve-content__list" *ngIf="preuvesForme">
    <mat-list-item class="list__item" *ngFor="let preuve of preuves">
      <mat-icon mat-list-icon *ngIf="isImage(preuve.path); else notImageIconBlock">image</mat-icon>
      <ng-template #notImageIconBlock>
        <mat-icon mat-list-icon>insert_drive_file</mat-icon>
      </ng-template>
      <h4 mat-line>{{preuve.name}}</h4>
      <p mat-line>{{preuve.description}}</p>
      <mat-chip-list mat-line>
        <mat-chip class="list__chip" *ngFor="let tag of preuve.tags">{{tag}}</mat-chip>
      </mat-chip-list>
    </mat-list-item>
  </mat-list>
</div>

<div class="preuve-footer">
  <button mat-raised-button color="primary" (click)="openDialog()">Ajouter une preuve</button>
</div>
