<h3 mat-dialog-title>
  Ajouter une preuve
</h3>

<form class="proof-form">
  <div class="proof-form__select">
    <input type="file" ng2FileSelect [uploader]="uploader" (onFileSelected)="inputFile($event)">
  </div>

  <div *ngFor="let item of uploader.queue">
    <div>
      <strong>{{ item?.file?.name }}</strong>
      {{ item?.file?.size/1024/1024 | number:'.2' }} MB
    </div>
    <div>
      <button type="button" mat-raised-button color="primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
        Upload
      </button>
      <button type="button" mat-raised-button (click)="item.cancel()" [disabled]="!item.isUploading">
        Cancel
      </button>
      <button type="button" mat-raised-button (click)="item.remove()">
        Remove
      </button>
    </div>
    <div>
      <span *ngIf="item.isSuccess">Success</span>
      <span *ngIf="item.isCancel">Cancel</span>
      <span *ngIf="item.isError">Error</span>
    </div>
  </div>

  <mat-form-field class="proof-form__name">
    <input matInput placeholder="Nom" [formControl]="name" required>
    <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field class="proof-form__description">
    <textarea matInput placeholder="Description" [(ngModel)]="description" name="description"></textarea>
  </mat-form-field>

  <mat-form-field class="proof-form__tag">
    <mat-chip-list #chipList>
      <mat-chip *ngFor="let tag of proofTag" removable="true" (remove)="removeTag(tag)">
        {{tag.name}}
        <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
      </mat-chip>
      <input matInput placeholder="Indiquez un/des tag"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addTag($event)" />
    </mat-chip-list>
  </mat-form-field>

  <div class="proof-form__footer">
    <button mat-raised-button color="primary" [disabled]="name.invalid" (click)="submit()" [mat-dialog-close]="true">Soumettre</button>
  </div>
</form>
