.proof-head {
  margin: 0;
  padding: .5rem 10%;
  position: static;
  text-align: center;

  &__title {
    margin: 0;
    padding: .5rem 0;
  }

  &__tag {
    width: 100%;
  }
}

.proof-content {
  padding: 1rem 15% 4.5rem;

  &__grid {
    display: inline-block;

    .grid__card {
      display: inline-block;
      margin: .5rem;
      vertical-align: middle;
      width: calc((100% - 144px - 3rem)/3);

      img {
        cursor: pointer;
        height: auto;
        max-height: 112px;
        max-width: 100%;
        width: auto;
      }
    }
  }

  &__list {
    .mat-list-icon {
      color: rgba(0, 0, 0, 0.5);
    }

    .list__item {
      height: 100px;

      .list-item__icon {
        font-size: 36px;
        height: auto;
        width: auto;
      }

      .list-item__chip {
        margin: 3px;
      }
    }
  }
}

.proof-footer {
  background: rgba(200, 200, 200, 0.5);
  bottom: 0;
  margin: 0;
  padding: 1rem 0 1rem;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 1;
}
