/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  min-height: 100vh;
}

body {
  background: #f9f9f9;
  margin: 0;
}
